[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi-sqlalchemy = "*"
fastapi = "*"
sqlalchemy = {extras = ["postgres"], version = "*"}
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
alembic = "*"
asyncpg = "*"
psycopg2 = "*"
python-dotenv = "*"
bcrypt = "*"
gunicorn = "*"
motor = "*"
dnspython = "*"

[dev-packages]

[requires]
python_version = "3.8"
